@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --bg: #f8f5f0;
  --primary: #ff60e6;
  --secondary: #ffadf2;
  --background: #ffffff;
  --text: #1f392c;
  --text-secondary: #d4d4d4;

  --font-kulim: "Kulim Park", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  background-color: var(--bg);
  font-family: var(--font-inter);
}

/* UTIL */

.bg-primary {
  background-color: var(--primary);
}

.bg-white {
  background-color: #fff;
}

.container {
  padding-inline: 160px;
  margin-inline: auto;
}

h1,
h2,
p,
h3 {
  color: var(--text);
}

body,
html {
  overflow-x: hidden;
}

.font-kulim {
  font-family: var(--font-kulim);
}

.font-inter {
  font-family: var(--font-inter);
}

.header {
  padding: 1rem 2rem;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.header__brand {
  display: flex;
  align-items: center;
}

.header__brand-text {
  font-family: "Kulim Park", sans-serif;
  margin-left: 8px;
  font-weight: 600;
  font-size: 24px;
}

.header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}

.header__menu-item {
  padding: 0.25rem 0.5rem;
  font-size: 20px;
  text-decoration: none;
  border-radius: 4px;
  color: var(--text);
}

.header__menu-item:hover {
  background: #ddd;
  border-radius: 11px;
}

.button {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 100px;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  transition: background 0.2s ease;
}

.button--primary {
  background: var(--primary);
  color: var(--text);
}

.button--primary:hover {
  opacity: 90;
}

.hero {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 140px;
}

.hero__content {
  display: grid;
  place-items: center;
  gap: 32px;
  width: 977px;
}

.hero__title {
  font-size: 112px;
  line-height: 112px;
  text-align: center;
  font-weight: 700;
  z-index: 100;
}

.hero__highlight {
  position: relative;
  z-index: 1;
}

.hero__highlight::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: -45px;
  width: 620px;
  height: 170px;
  z-index: -10;

  background: url("./public/slogoan-line.svg") no-repeat;
  background-size: contain;
}

.hero__image {
  position: absolute;
  z-index: -1;
}

.hero__image--left {
  left: 0;
  top: 100px;
}

.hero__image--right {
  right: 0;
}

.hero__subtitle {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  padding-inline: 102px;
  padding-block: 32px;
}

.email {
  background: #fff;
  border-radius: 100px;
  width: 564px;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  justify-content: space-between;
}

.email__input {
  outline: none;
  border: none;
  padding-left: 24px;
}

.email__input::placeholder {
  color: var(--text-secondary);
  font-size: 20px;
  font-weight: 400;
}

.contact {
  position: relative;
}

.title {
  width: 922px;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  margin-inline: auto;
  line-height: 100%;
}

.contact__title {
  position: relative;
}

.contact__highlight::after {
  content: "";
  position: absolute;
  left: 433px;
  bottom: -38px;
  width: 400px;
  height: 53px;
  z-index: -10;

  background: url("./public/contact-line.svg") no-repeat;
  background-size: contain;
}

.partners {
  display: flex;
  justify-content: center;
  padding-block: 120px;
}

.contact__image--bg {
  position: absolute;
  left: 0;
  bottom: 60px;
}

.partners__container {
  background: #fff;
  border-radius: 24px;

  width: 100%;
  max-width: 1192px;

  display: flex;
  align-items: flex-start;

  padding: 70px 80px;
  position: relative;

  gap: 40px;
  overflow: visible;
}

.partners__info {
  width: 430px;
  flex-shrink: 0;
}

.partners__title {
  font-size: 48px;
  font-weight: 600;
  font-family: var(--font-inter);
  line-height: 1.1;
}

.partners__desc {
  margin-top: 20px;
  font-size: 20px;
  line-height: 32px;
}

.partners__swiper {
  flex: 1;
  overflow: hidden;
  position: relative;
  margin-right: -400px;
}

.partners__cards {
  display: flex;
  gap: 30px;
}

.partners__card {
  padding: 24px;
  border-radius: 16px;
  width: 404px;
  flex-shrink: 0;
}

.partners__card--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners__timeline {
  font-size: 20px;
  line-height: 30px;
}

.partners__card--primary {
  background: var(--primary);
}

.partners__card--secondary {
  background: var(--secondary);
}

.partners__card--desc {
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}

.swiper-wrapper {
  height: auto !important;
}

.challenge__title {
  margin-top: 64px;
}

.challenge__image {
  margin-inline: auto;
  margin-block: 64px;
}

.solution {
  margin-block: 64px;
}

.solution__title {
  text-align: center;
  width: 650px !important;
}

.solution__subtitle {
  width: 622px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-inline: auto;
  margin-block: 64px;
  line-height: 100%;
}

.solution__desc {
  font-size: 20px;
  width: 922px;
  font-weight: 400;
  text-align: center;
  margin-inline: auto;
  margin-block: 64px;
  line-height: 100%;
}

.service {
  margin-block: 64px;
  padding-inline: 260px;
  display: grid;
  gap: 64px;
}

.service--grid {
  display: grid;
  grid-template-columns: 423px 518px;
  gap: 32px;
}

.service--reverse {
  grid-template-columns: 518px 423px;
}

.service__title {
  font-size: 40px;
  font-weight: 700;
}

.service__desc {
  margin-top: 16px;
  padding-right: 27px;
  font-size: 20px;
  line-height: 32px;
}

.testimonial__swiper {
  flex: 1;
  overflow: hidden;
  position: relative;
  margin-right: -400px;
  width: calc(100% + 400px);
}

.testimonial__container {
  padding-left: 160px;
  display: grid;
  gap: 64px;
}

.testimonial__text {
  text-align: center;
  margin-inline: auto;
  font-weight: 400;
  font-size: 20px;
  margin-block: 64px;
}

.testimonial__title {
  font-size: 56px;
  font-weight: 700;
}

.testimonial__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  line-height: 1.2;
}

.testimonial__break {
  flex-basis: 100%;
  height: 0;
}

.testimonial__image {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  object-fit: cover;
}

.testimonial__highlight {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.testimonial__highlight::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -3px;
  width: 100%;
  height: 70px;
  background: url("./public/testimonial_line.svg") no-repeat;
  background-size: cover;
  z-index: -1;
}

.testimonial__highlight--title {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.testimonial__highlight--title::after {
  content: "";
  position: absolute;
  left: 40px;
  bottom: 0px;
  width: 170px;
  height: 12px;
  background: url("./public/testimonial_line_2.svg") no-repeat;
  background-size: cover;
  z-index: -1;
}

.testimonial__subtitle {
  font-size: 32px;
  line-height: 100%;
  width: 600px;
}
.testimonial__card {
  width: 508px;
  height: 352px;
  border-radius: 14px;
  flex-shrink: 0;
  padding: 26px 56px;
}

.testimonial__cards {
  display: flex;
  gap: 32px;
  width: max-content;
}

.testimonial__card--primary {
  background-color: var(--primary);
}

.testimonial__card--secondary {
  background-color: var(--secondary);
}

.testimonial__name {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  margin-block: 16px;
}

.testimonial__desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.charity {
  padding: 64px 160px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.charity__title {
  font-size: 56px;

  font-weight: 700;
}

.charity__card--desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.charity__card {
  width: 580px;
  height: 515px;
  border-radius: 16px;
}

.charity__card--text {
  padding: 56px;
}

.charity__logos--1 {
  margin-top: 56px;
  margin-bottom: 20px;
}

.charity__logos--2 {
  margin-bottom: 19px;
}

.charity__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-inline: auto;
  text-align: center;
}

.contactus__title {
  width: 100% !important;
}

.contactus__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  text-align: center;
  margin: 8px 0px 64px;
}

.contactus__email {
  margin-inline: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 72px;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 480px) {
  .header {
    padding: 0.75rem 1rem;
  }

  .header__nav {
    max-width: 100%;
    padding-inline: 0;
  }

  .header__brand-text {
    font-size: 18px;
  }

  .header__menu {
    display: none;
  }

  .button {
    padding: 8px 20px;
    font-size: 14px;
  }

  .hero {
    padding-block: 60px;
    flex-direction: column;
    text-align: center;
  }

  .hero__image--left,
  .hero__image--right {
    display: none;
  }

  .hero__content {
    width: 100%;
    gap: 24px;
    padding-inline: 20px;
  }

  .hero__title {
    font-size: 36px;
    line-height: 40px;
  }

  .hero__highlight::after {
    width: 180px;
    height: 45px;
    left: 40%;
    transform: translateX(-50%);
    bottom: -5px;
    background-size: cover;
  }

  .hero__subtitle {
    font-size: 16px;
    line-height: 26px;
    padding-inline: 0;
    padding-block: 12px;
    max-width: 90%;
    margin-inline: auto;
  }

  .email {
    width: 100%;
    height: auto;
    padding: 6px 12px;
  }

  .email__input {
    font-size: 16px;
  }

  .email__input::placeholder {
    font-size: 16px;
  }

  .title {
    width: 90%;
    max-width: 90%;
    font-size: 32px;
    line-height: 38px;
    margin-inline: auto;
  }

  .contact__highlight::after {
    width: 150px;
    height: 20px;

    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;

    background-size: cover;
  }

  .contact__image--bg {
    display: none;
  }

  .partners {
    padding-block: 60px;
  }

  .partners__container {
    flex-direction: column;
    padding: 32px 24px;
    gap: 32px;
    max-width: 100%;
    width: 92%;
  }

  .partners__info {
    width: 100%;
  }

  .partners__title {
    font-size: 28px;
    text-align: center;
  }

  .partners__desc {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }

  .partners__swiper {
    width: calc(100% + 120px);
    margin-right: -120px;
    overflow: hidden;
  }

  .partners__cards {
    gap: 16px;
  }

  .partners__card {
    width: 280px;
    padding: 20px;
  }

  .partners__card--desc {
    font-size: 14px;
    line-height: 22px;
  }

  .challenge__title {
    margin-top: 32px;
    font-size: 32px;
    text-align: center;
  }

  .challenge__image {
    width: 90%;
    height: 90%;
    margin-block: 32px;
  }

  .solution {
    margin-block: 48px;
    padding-inline: 16px;
  }

  .solution__title {
    width: 100% !important;
    font-size: 28px;
    line-height: 34px;
  }

  .solution__subtitle {
    width: 100%;
    font-size: 20px;
    margin-block: 32px;
    line-height: 28px;
  }

  .solution__desc {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    margin-block: 32px;
  }

  .service {
    padding-inline: 16px;
    margin-block: 48px;
    gap: 48px;
  }

  .service--grid,
  .service--reverse {
    grid-template-columns: 1fr !important;
    text-align: center;
    gap: 20px;
  }

  .service__title {
    font-size: 28px;
  }

  .service__desc {
    padding-right: 0;
    font-size: 16px;
    line-height: 26px;
    margin-top: 8px;
  }

  .service img {
    width: 90%;
    height: 90%;
    margin-inline: auto;
  }

  .testimonial__container {
    padding-left: 24px;
    padding-right: 24px;
    gap: 40px;
  }

  .testimonial__text {
    font-size: 16px;
    margin-block: 24px;
    width: 90%;
    line-height: 24px;
  }

  .testimonial__title {
    font-size: 32px;
    line-height: 36px;
  }

  .testimonial__wrapper {
    justify-content: center;
    gap: 8px;
  }

  .testimonial__image {
    width: 32px;
    height: 32px;
    border-radius: 8px;
  }

  .testimonial__break {
    flex-basis: 100%;
  }

  .testimonial__highlight::after {
    height: 24px;
    bottom: -4px;
    background-size: contain;
  }

  .testimonial__subtitle {
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
  }

  .testimonial__highlight--title::after {
    width: 90px;
    height: 6px;
    left: 20px;
  }

  .testimonial__swiper {
    width: calc(100% + 140px);
    margin-right: -140px;
  }

  .testimonial__cards {
    gap: 20px;
  }

  .testimonial__card {
    width: 280px;
    height: auto;
    padding: 20px;
  }

  .testimonial__name {
    font-size: 20px;
    line-height: 26px;
    margin-block: 12px;
  }

  .testimonial__desc {
    font-size: 14px;
    line-height: 22px;
  }

  .charity {
    padding: 32px 24px;
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }

  .charity__title {
    font-size: 32px;
    line-height: 38px;
  }

  .charity__card {
    width: 100%;
    height: auto;
  }

  .charity__card--text {
    padding: 24px;
  }

  .charity__card--desc {
    font-size: 16px;
    line-height: 26px;
  }

  .charity__logos--1,
  .charity__logos--2 {
    margin: 12px auto;
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: 50%;
  }

  .charity__desc {
    font-size: 14px;
    line-height: 24px;
    width: 90%;
    margin-inline: auto;
    margin-bottom: 5px;
  }

  .contactus__title {
    font-size: 32px !important;
    line-height: 38px;
    width: 100% !important;
    text-align: center;
  }

  .contactus__desc {
    font-size: 16px;
    line-height: 26px;
    margin: 8px auto 32px;
    width: 90%;
  }

  .contactus__email {
    width: 100%;
    justify-content: center;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    gap: 24px;
    margin-block: 40px;
  }

  .footer__social {
    justify-content: center;
    gap: 12px;
  }

  .container {
    padding-inline: 20px;
    margin-inline: auto;
  }
}
